/* Base styles */
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

:root {
    --primary-color: white;
    --secondary-color: #888;
    --text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--primary-color);
    font-size: 16px;
}

.page-heading{
    padding-top: 1.5rem;
    text-align: center;
    font-family: 'Italianno', cursive;
    font-weight: 400;
    font-style: italic;
    font-size: clamp(25px, 10vw, 100px);
    color: var(--text-color);
}

.heading {
    font-family: 'Italianno', cursive;
    font-weight: 400;
    font-size: clamp(25px, 10vw, 100px);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    white-space: nowrap;
    border-radius: 10px;
    padding: 0 20px;
    width: fit-content;
    margin-bottom: 20px;
}

.title{
    margin-top: 20px;
}

/* Navigation bar */
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    z-index: 1000;
    height: 100px;
}

#logo {
    width: 125px;
    overflow: hidden;
}

#nav-links {
    display: flex;
    list-style: none;
    overflow-y: auto;
}

#nav-links li {
    margin: 0 25px;
}

#nav-links a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

#nav-links a:hover {
    color: var(--secondary-color)
}

#nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transition: width 0.3s ease-in-out;
}

#nav-links a:hover::after {
    width: 100%;
}

#menu-btn {
    display: none;
    color: var(--text-color);
    cursor: pointer;
    font-size: 1.5rem;
    background: none;
}

#play-btn {
    color: var(--text-color);
    cursor: pointer;
    font-size: 1.5rem;
}

#menu-btn:hover, #play-btn:hover{
    color: var(--secondary-color);
}

#play-btn:active{
    color: var(--text-color);
}

/* Image Slider */
.slider{
    margin: auto;
    position: fixed;
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track{
    display: flex;
    width: calc(calc(100vh*(2/3)) * 20);
    animation: scroll 40s linear infinite;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(calc(-100vh*(2/3)) * 10));
    }
}

.slide{
    height: 100vh;
    width: calc(100vh*(2/3));
    display: flex;
    align-items: center;
}

.slide img{
    padding: 0 15px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Gradient Shadows */
.slider::before,
.slider::after{
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 100%;
    position: fixed;
    width: 25%;
    z-index: 2;
}

.slider::before{
    left: 0;
    top: 0;
}

.slider::after{
    right: 0;
    top: 0;
    transform: rotate(180deg);
}

/* Hero section with background */
.hero {
    position: relative;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 900;
    padding: 0 10px;
    height: calc(100vh - 100px);
}

/* Styled countdown container */
.countdown-container {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    gap: 10px;
    padding: 0 20px;
    border-radius: 10px;
}

.countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown-number {
    font-size: clamp(25px, 5vw, 75px);
    font-weight: bold;
}

.countdown-label {
    font-size: clamp(1rem, 3vw, 1.5rem);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.separator{
    font-size: clamp(25px, 5vw, 75px);
    font-weight: bold;
}

/* Story section styles*/
.story-section {
    background-color: var(--primary-color);
    opacity: 0;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    text-align: center;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.story-section.visible {
    opacity: 1;
    transform: translateY(0);
}

.story-title {
    font-family: 'Italianno', cursive;
    font-weight: 400;
    font-style: italic;
    font-size: clamp(25px, 10vw, 100px);
}

.story-section p{
    font-size: clamp(1rem, 3vw, 1.5rem);
    max-width: 1000px;
}

.index-btn-container{
    display: flex;
    margin-top: 20px;
    height: 25vh;
}

.index-btn-container a{
    padding: 8px 16px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
    border-radius: 5px;
    margin: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    font-size: clamp(1.5rem, 3vw, 2rem);
}

/*Time and Location styles*/
.time-location-container{
    margin-top: 100px;
    height: calc(100vh - 100px);
}

.time-location {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4vw;
    padding: 20px;
    background-image: url('images/time-location-bg.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}

/* Info overlay styles */
.info-overlay {
    background-color: rgba(70, 70, 70, 0.8);
    color: white;
    border-radius: 10px;
    width: clamp(200px, 30vw, 350px);
    height: clamp(200px, 30vw, 350px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.logo-heading {
    display: flex;
    align-items: center;
}

.info-overlay h1, .logo-heading i {
    font-size: clamp(30px, 5vw, 50px);
}

.logo-heading i {
    margin-right: 10px;
}

.time-info, .place-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-text, .place-text {
    text-align: center;
    font-size: clamp(20px, 4vw, 40px);
    white-space: nowrap;
}

/* Map overlay styles */
.map-overlay {
    width: clamp(300px, 35vw, 600px);
    height: clamp(200px, 30vw, 350px);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    filter: grayscale(100%);
}

.map-overlay iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Schedule styles */
.timeline-container{
    margin-top: 100px;
}

.timeline{
    margin: 0 auto;
    max-width: 750px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
}

.timeline-component{
    margin-bottom: 1rem;
    align-self: top;
}

.timeline-component-left{
    display: flex;
    justify-content: flex-end;
}

.timeline-component-bg{
    padding: 0.5rem;
    background-color: rgba(70, 70, 70, 0.8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.timeline-component-bg-left{
    justify-self: right;
    margin-right: 1rem;
}

.timeline-component-bg-right{
    justify-self: left;
    margin-left: 1rem;
}

.timeline-component-bottom{
    margin-bottom: 2rem;
}

.timeline-time{
    font-size: clamp(1rem, 3vw, 1.5rem);
    margin-left: 1rem;
    color: var(--text-color);
}

.timeline-component-bg p{
    color: var(--primary-color);
    margin: 0;
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: bold;
    text-align: center;
}

.timeline-time-right{
    margin-right: 1rem;
}

.timeline-middle{
    position: relative;
    background-color: var(--text-color);
}

.timeline-point{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1rem;
    height: 1rem;
    background-color: var(--text-color);
    border-radius: 50%;
}

.timeline-point-bottom{
    top: initial;
    bottom: 0;
}

/* Gallery styles */
.gallery-container{
    margin-top: 100px;
}

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
  max-width: 1024px;
  margin: 0 auto;
}

.grid-gallery .wide{
    grid-column: span 2;
}

.grid-gallery .last{
    grid-column: span 3;
}

.grid-gallery > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-gallery > div > img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  object-fit: cover;
}

/* Accommodation styles */
.accommodation-container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 100px);
}

.accommodation-container h1 {
    padding-top: 1.5rem;
    text-align: center;
    font-family: 'Italianno', cursive;
    font-weight: 400;
    font-style: italic;
    font-size: clamp(25px, 10vw, 100px);
    color: var(--text-color);
}

.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width: 400px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 30px;
    background-color: var(--text-color);
}

.card iframe{
    width: 100%;
    height: auto;
    filter: grayscale(100%);
}

.card-content{
    padding: 16px;

}

.card-content h3{
    margin-bottom: 8px;
    color: var(--primary-color);
    font-family: 'Italianno', cursive;
    font-size: 36px;
    font-weight: 400;
}

.card-content p{
    margin-bottom: 8px;
    color: var(--primary-color);
}

.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--primary-color);
    color: var(--text-color);
    transition: color 0.3s ease;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 16px;
}

.card-content .btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.card-content .btn:active {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.card-content p span{
    font-weight: bold;
}

/* Important Info styles */
.info-container{
    margin-top: 100px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper{
    width: clamp(350px, 75vw, 900px);
    margin: auto;
}

.wrapper h1 {
    color: var(--text-color);
    padding-top: 1.5rem;
    text-align: center;
    font-family: 'Italianno', cursive;
    font-weight: 400;
    font-style: italic;
    font-size: clamp(25px, 10vw, 100px);
}

.accordion{
    background-color: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
    font-size: clamp(1rem, 3vw, 1.5rem);
    width: 100%;
    padding: 1rem;
    border: none;
    outline: none;
    transition: color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.accordion i{
    font-size: clamp(1rem, 3vw, 1.5rem);
}

.active, .accordion:hover{
    background-color: rgb(237, 237, 237);
}

.pannel{
    padding: 0 1rem 1.5rem 1rem;
    background-color: rgb(237, 237, 237);
    overflow: hidden;
    display: none;
}

.pannel p{
    color: var(--text-color);
    background-color: rgb(237, 237, 237);
    font-size: clamp(1rem, 3vw, 1.5rem);
}

.info{
    border: 1px solid rgba(0,0,0,0.2);
    margin: 10px 0;
}

.info.active{
    border: none;
}

/* RSVP styles */
.rsvp-container{
    margin-top: 100px;
    padding: 1.5rem;
    height: calc(100vh - 100px);
    background-image: url('images/image-84.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rsvp-container h2{
    text-align: center;
    font-weight: bold;
    font-size: clamp(1rem, 3vw, 1.5rem);
    color: var(--primary-color);
    border-bottom: solid 3px var(--primary-color);
}

.rsvp-list-container{
    padding: 20px;
    background-color: rgba(70, 70, 70, 0.8);
    border-radius: 10px;
}

.rsvp-list-container ul{
    font-size: clamp(1rem, 3vw, 1.5rem);
    padding-left: 20px;
    list-style: square;
    color: var(--primary-color);
}

.btn-container{
    display: flex;
    margin-top: 20px;
    height: 25vh;
}

.btn-container a{
    padding: 8px 16px;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;
    margin: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    font-size: clamp(1.5rem, 3vw, 2rem);
}

footer{
    height: 75px;
    width: 100%;
    background-color: var(--text-color);
    z-index: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 2px 0 4px rgba(0,0,0,0.05);
}

footer p{
    color: var(--primary-color);
}

footer p a{
    color: var(--primary-color);
}

/* Mobile Responsive Styles */
@media (max-width: 1100px) {
    #menu-btn {
        display: block;
    }
    
    #nav-links {
        position: fixed;
        top: 100px;
        left: -100%;
        width: 50%;
        height: calc(100vh - 70px);
        background-color: #333;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        transition: left 0.3s ease;
    }
    
    #nav-links.active {
        left: 0;
    }

    #nav-links li{
        width: 90%;
    }
    
    #nav-links a {
        background-color: var(--primary-color);
        width: 100%;
        text-align: center;
        padding: 15px 0;
        margin-bottom: 15px;
        border-radius: 5px;
        font-size: 1.1rem;
    }

    #nav-links a:hover{
        background-color: var(--secondary-color);
        color: white;
    }

    #nav-links a::after {
        display: none;
    }

    .story-section {
        padding: 0 20px;
    }
}

@media (max-height: 600px) {
    .hero, .story-section, .accommodation-container{
        height: calc((100vh - 100px) * 2.3);
    }
}