/* Reset and base styles */
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}

body {
    background-image: url(images/bg-index.jpg);
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    font-family: 'Georgia', serif;
    line-height: 1.6;
    color: #333333;
}

/* Navigation bar */
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    z-index: 1000;
}

#logo {
    width: 125px;
}

#nav-links {
    display: flex;
    list-style: none;
}

#nav-links li {
    margin: 0 25px;
}

#nav-links a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

#nav-links a:hover {
    color: #888;
    width: 100%;
}

#nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #888;
    transition: width 0.3s ease-in-out;
}

#nav-links a:hover::after {
    width: 100%;
}

#menu-btn {
    display: none;
    padding-right: 30px;
    color: #333;
    transition: color 0.3s ease;
    cursor: pointer;
    font-size: 2rem;
}

#menu-btn:hover{
    color: #888;
}

/* Image Slider
.italianno-regular{
    position: relative;
    top: 500px;
    margin: 0 auto;
    padding: 0 10px;
    width: fit-content;
    font-family: Italianno;
    font-weight: 400;
    font-size: 5rem;
    color: white;
    background-color: #3333337d;
    border-radius: 5px;
    z-index: 1000;
}

.slider-frame{
    overflow: hidden;
    height: 800px;
    width:1200px;
    margin-left: 360px;
    margin-top: 20px;
}
*/

/* Mobile Responsive Styles */
@media (max-width: 1100px) {
    #logo {
        width: 100px;
    }
    
    #menu-btn {
        display: block;
    }
    
    #nav-links {
        position: fixed;
        top: 100px;
        left: -100%;
        width: 50%;
        height: calc(100vh - 70px);
        background-color: #333;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        transition: left 0.3s ease;
    }
    
    #nav-links.active {
        left: 0;
    }
    
    #nav-links a {
        background-color: white;
        width: 100%;
        text-align: center;
        padding: 15px 0;
        margin-bottom: 15px;
        border-radius: 5px;
        font-size: 1.2rem;
    }

    #nav-links a:hover{
        background-color: #888;
        color: white;
    }

    #nav-links a::after {
        display: none;
    }

    #nav-links li{
        width: 90%;
    }
}